
{% block title %}
{% endblock %}

{% block content %}
    {{ message }}
    <form method="POST">
        {% csrf_token %}
        <label for="id_name">name</label>
        <input name="name" id="id_name" type="text">

        <label for="id_email">email</label>
        <input type="email"  name="email" id="id_email">

        <label for="id_phone_number">Phonenumber</label>
        <input name="phonenumber" type="text" id="id_phone_number">

        <label for="id_dt_entrance">Data about seller</label>
        <input name="dt_entrance" type="text" id="id_dt_entrance">

        <button type="submit">Submit</button>
    </form>

{% endblock %}