{% extends 'base.html' %}

{% block content %}
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header ">
            <h5 class="card-title">Products list</h5>
          </div>
          <div class="card-body ">
            <table class="table">
            <tr>
                <th>Image</th>
                <th>PK</th>
                <th>Name</th>
                <th>Description</th>
                <th>Brand</th>
                <th>Status</th>
                <th>Category</th>
            </tr>
            {% for product in products %}
                <tr>
                    <td>
                        <a href="{{ product.image.url }}">
                            <img src="{{ product.image.url }}" height="100" width="100">
                        </a>
                    </td>
                    <td>{{ product.pk }}</td>
                    <td>
                        <a href="{% url 'product_detail' product.pk %}">
                            {{ product.name }}
                        </a>
                    </td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.brand }}</td>
                    <td>{{ product.get_status_display }}</td>
                    <td>{{ product.category.name }}</td>
                </tr>
            {% endfor %}
            </table>
          </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <a class="btn btn-primary pull-right" href="{% url 'product_create' %}">Add product</a>
                </div>
            </div>
        </div>
      </div>
{% endblock %}