
{% extends 'bases.html' %}

    {% block title %}MyQuote: Buyers{% endblock %}

    {% block content %}

        <div class="container">

            {% if object_list %}

            <div class="row">
                <div class="col-6 mt-4 display-4 mb-5">
                    Buyers List:
                </div>
                <div class="col-6 mt-4 text-right">

                    <a class="btn btn-outline-success mt-3" href="{% url 'buyers-create' %}">
                        <p class="lead">Create New Buyer</p>
                    </a>

                </div>
            </div>

            <table class="table table-hover shadow-lg">
              <thead class="thead-dark">
                <tr class="lead">
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone nr.</th>
                    <th>ID</th>
                    <th>Entrance</th>
                </tr>
              </thead>
              <tbody>

                {%for buyer in object_list%}
                    <tr class="lead">
                          <td>{{buyer.pk}}</td>
                          <td>{{buyer.name}}</td>
                          <td>{{buyer.email}}</td>
                          <td>{{buyer.phone_number}}</td>
                          <td>{{buyer.id_code}}</td>
                          <td>{{buyer.dt_entrance}}</td>
                          <td>
                              <a class="btn btn-outline-primary" href="{% url 'buyers-update' buyer.pk %}">
                                  <span class="lead">Update</span>
                              </a>
                          </td>
                          <td>
                              <a class="btn btn-outline-danger" href="{% url 'buyers-delete' buyer.pk %}">
                                  <span class="lead">Delete</span>
                              </a>
                          </td>
                    </tr>
                {% endfor %}

              </tbody>
            </table>
            {% else %}
                <div class="text-center shadow">

                    <div class="pt-4 mt-5 display-4 pb-5 bg-info">

                        <p>There are no buyers so far...</p>

                        <img src="../static/no_buyers.svg" alt="Sad face">

                    </div>
                    <div class="pt-4 pb-5 border">
                        <p class="lead font-weight-bold text-dark">Would you like to add a new buyer?</p>
                        <a class="btn btn-outline-success mt-3" href="{% url 'buyers-create' %}">
                            <p class="lead">Create New Buyer</p>
                        </a>
                    </div>

                </div>
            {% endif %}
        </div>

    {% endblock %}