{% extends 'base.html' %}

    {% block title %}MyQuote: Create new Buyer{% endblock %}

    {% block content %}
        <div class="container text-center">


            <div class="display-4 mt-4 mb-4">Register a new buyer:</div>

            <form method="post">{% csrf_token %}
                <div class="form-group lead">
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-success" value="Register">
                </div>
            </form>



        </div>

    {%endblock%}

