{% extends 'base.html' %}
  
{% block title %}About{% endblock %}

{% block content %}
      <div class="content">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                 <h3 style="text-align: center;">Who we are</h3>
                <p>SDA project is an Estonian multinational technology company specializing in e-commerce, retail, Internet, and technology. Founded on 2 January 2020 in Tallinn. Or company provides consumer-to-consumer (C2C), business-to-consumer (B2C), and business-to-business (B2B) sales services via web portals, as well as electronic payment services, shopping search engines and cloud computing services. It owns and operates a diverse array of businesses around the world in numerous sectors, and is named as one of the world's most admired companies by Postimees.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6" ">
            <div class="card" style="height: 94%">
              <div class="card-header">
                 <h3 style="text-align: center">Our team</h3>
                <p>“Talent wins games, but teamwork and intelligence wins championships.” -Michael Jordan</p>
              </div>
            </div>
          </div>  
        <div class="row" style="text-align: center;" >
          <div class="col-md-3">
            <div class="card">
              <div class="card-header">
                <h3>John smith</h3>
                <img src="https://i.ya-webdesign.com/images/person-svg-1.png" width="100%%">
                <hr>
                <p>Marketing</p>
                <p>marketing@project.com</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-header">
                <h3>Klara Whails</h3>
                <img src="https://i.ya-webdesign.com/images/person-svg-1.png" width="100%%">
                <hr>
                <p>Sales</p>
                <p>sales@project.com</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-header">
                <h3>Mark Abramov</h3>
                <img src="https://i.ya-webdesign.com/images/person-svg-1.png" width="100%%">
                <hr>
                <p>Front-end</p>
                <p>front-end@project.com</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-header">
                <h3>Ivan Putinin</h3>
                <img src="https://i.ya-webdesign.com/images/person-svg-1.png" width="100%%">
                <hr>
                <p>Back-end</p>
                <p>back-end@project.com</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">
              <ul>
                <li>
                  <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>
                </li>
                <li>
                  <a href="http://blog.creative-tim.com/" target="_blank">Blog</a>
                </li>
                <li>
                  <a href="https://www.creative-tim.com/license" target="_blank">Licenses</a>
                </li>
              </ul>
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script>2020, made with <i class="fa fa-heart heart"></i> by Creative Tim
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>



{% endblock content %}

